encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1kmha283ekuue92mmumtprkw55pca4rayzqfsv8ht6wflhxcqz9dswr0uvl"

[git]
    autoCommit = true
    autoPush = true

[edit]
    command = "code"
    args = ["--wait"]

[merge]
command = "bash"
args = [
    "-c",
    'cp "$1" "$2" && code --wait --new-window --merge "$3" "$1" "$2" "$4"',
    "bash",
    "{{ "{{ .Target }}" }}",
    "{{ "{{ .Target }}" }}.base",
    "{{ "{{ .Destination }}" }}",
    "{{ "{{ .Source }}" }}",
]
